.select-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1;
    font-weight: bold;
}

.select-select__indicator-separator {
    display: none;
}

.select-select__placeholder {
    color: #9E9E9E; 
}

.input-select {
    width: 100%;
    margin-bottom: 10px;
}