.home-container {
    padding: 0;
    margin: 0;
}

.featured{
    height: 80vh;  
}

.featured--vertical{
    width: inherit;
    height: inherit; 
    background: linear-gradient(to bottom, #eee7e7 5%, transparent);
    background: linear-gradient(to top, #eee7e7 5%, transparent);
}

.featured--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #eee7e7 30%, transparent 40%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top : 70px;
}

.home-main-logo {
    width: 20%;
}

.home-container-title {
    margin-top: 50px;
    display: flex;
    justify-content: left;
}

.home-content {
    background: #cea903;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.home-content-title {
    padding: 20px 50px;
}

.home-content-paraph {
    padding: 20px 50px;
    display: flex;
    justify-content: left;
}

.home-content-img {
    width: 40%;
    border-radius: 1000px;
}

.home-title-services {
    text-align: center;
    padding: 50px 50px;
    background: #eee7e7;
}

.home-service-list {
    display: flex;
    justify-content: center; 
    padding: 0px 50px;
    background: #eee7e7;
    
}

.product-card {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 3500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card:hover {
    border: 5px solid #C78C19;
}

.product-img {
    width: 50%;
    border-radius: 100%;
}

.btn-search {
    justify-content: center;
}

.home-product-search {
    display: flex;
    justify-content: center;
    padding: 50px 50px 20px 50px;
    align-items: center;
}

.list-p {
    padding: 5px 5px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


