.home-container {
    text-align: center;
    padding: 0;
    margin: 0;
    background: #CCC;
}

.home-main-image {
    width: 100%;
    max-height: 500px;
    padding-top: 0;
    margin-top: 0;
}

.home-title {
    padding: 20px 50px;
}

.home-paraph {
    padding: 20px 50px;
}

.home-mission-paraph {
    font-size: 20px;
    padding: 20px 50px;
}

em strong {
    color: red;
}

.home-title-benefits {
    text-align: center;
    background: #FFF;
    padding: 20px 50px;
}

.home-items {
    font-style: italic;

}

.product-container {
    background: #FFF;
}
.product-list {
    display: flex;
    justify-content: center; 
}

.product-card {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 50px;
    height: 200px;
    width: 250px;
}

.product-card:hover {
    border: 3px solid #C78C19;
}

.product-card:hover h2 {
    font-size: 30px;

}

ul li h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

ul li p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-img {
    width: 50%;
    border-radius: 20px;
}