.marca-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 50px;
}

.marca-card-btn {
    display: flex;
    align-items: center;    
}

@media (max-width: 768px) {
    .card-content {
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .card-content {
        margin-left: 10px;
    } 
}